@media screen and (max-width:500px) {
    nav{
        flex-direction: column;
    }
    ul{
        padding: 2rem 0;
        justify-content: space-evenly;
    }
    .logo{
        padding: 2rem 0;
    }
}
@media screen and (max-width:400px) {
    ul{
        flex-direction: column;
        align-items: center;
    }
    nav ul li{
        margin: 1rem 0;
    }
    .logo{
        padding: 2rem 0;
    }
    .aboutus p{
        font-size: 1rem;
        padding: 2 4rem;
    }
}
@media screen and (max-width:950px) {
    .landing h1{
        font-size: 5rem;
    }
    .landing p{
        font-size: 3rem;
    }
    .aboutus p{
        font-size: 2rem;
        padding: 2 4rem;
    }
}
@media screen and (max-width:700px) {
    .landing h1{
        font-size: 4rem;
    }
    .landing p{
        font-size: 2rem;
    }
    .aboutus p{
        font-size: 1.5rem;
        padding: 2 4rem;
    }    .aboutus article{
        font-size: 2rem;
    }
    .upperfoot h6{
        font-size: 2rem;
    }
}
@media screen and (max-width:330px) {
    .landing h1{
        font-size: 3rem;
    }
    .landing p{
        font-size: 1.5rem;
    }
    .upperfoot h6{
        font-size: 1.5rem;
    }
}